@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
}

html {
  height: 100%;
  width: 100%;
  background-color: #222;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

main {
  margin-top: 70px;
}

nav {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  background: rgba(10, 10, 10, .8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links{
  width: 80%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}